<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Home -->
<div class="testimonials testimonials_section" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll"
        data-image-src="/static/images/testimonials.jpg" data-speed="0.8"></div>
    <div class="container">

        <div class="section_title_container">
            <div class="section_title testimonials_section_title">Your shopping cart</div>
            <div class="testimonials_home_subtitle">See the program(s) in your shopping cart below.
            </div>

        </div>

        <!-- Programs for loop -->
        <div class="cart_section" id="program_section">
            <div class="container">
                <div class="button home_button ml-auto mr-auto"><a href="{% url 'checkout' %}">Checkout</a>
                </div>
                <div class="cart_text center_text">Check your order below, if it is correct proceed to Checkout.
                </div>
                <br>
                <div class="cart_total">Cart Total:</div>
                <div class="cart_total cart_total_pb top_separator">{{ total }}</div>
                <div class="row services_row">
                    {% for item in cart_items %}
                    <div class="col-12 bottom_separator">
                        <div class="service">
                            {% if item.meal %}
                            <div class="product_image"
                                style="background-image: url('{{ MEDIA_URL }}{{ item.meal.image }}')">
                            </div>
                            <div
                                class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div class="cart_title_checkout">{{ item.meal.name }}</div>
                            </div>
                            <p class="cart_text_checkout">{{ item.meal.description }}
                            </p>
                            <p class="price_checkout">Price: {{ item.meal.price }}</p>

                            <form class="form_group" action="{% url 'update_meal_item' item.meal.id %}" method="post">
                                {% csrf_token %}
                                <div class="form_group">
                                    <!--TODO Remove this!<div class="input_group">
                                        <div class="cart_amount">Current Cart Qty:</div>
                                        <div class="cart_amount cart_amount_mb">{{ item.quantity }}</div>
                                        <input type="number" name="quantity" min="0" max="999"
                                            class="form_group_search cart_qty_checkout"
                                            placeholder="Add 'New Qty' or set to '0' to delete...">
                                    </div>-->
                                </div>
                                <!-- TODO do i need to move the buttons outside the form??-->
                                <div class="cart_button ml-auto mr-auto mb-4">
                                    <!--TODO remove the view and urlpattern! <button class="button home_button mr-5" type="submit">
                                        Update cart</button>-->
                                    <button class="button home_button" type="submit">
                                        Delete item</button>
                                </div>
                            </form>
                            {% else %}
                            <div class="product_image"
                                style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
                            </div>
                            <div
                                class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div class="cart_title_checkout">{{ item.product.name }}</div>
                            </div>
                            <p class="cart_text_checkout">{{ item.product.description }}
                            </p>
                            <p class="price_checkout">Price: {{ item.product.price }}</p>
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <form class="form_group" action="{% url 'update_product_item' item.product.id %}"
                                    method="post">
                                    {% csrf_token %}
                                    <div class="form_group">
                                        <!-- <div class="input_group">
                                            <div class="cart_amount">Current Cart Qty:</div>
                                            <div class="cart_amount cart_amount_mb">{{ item.quantity }}</div>
                                            <input type="number" name="quantity" min="0" max="999"
                                                class="form_group_search cart_qty_checkout"
                                                placeholder="Add 'New Qty' or set to '0' to delete...">
                                        </div>-->
                                    </div>
                                    <div class="cart_button ml-auto mr-auto mb-4">
                                        <!-- <button class="button home_button mr-5" type="submit">
                                            Update cart</button>-->
                                        <button class="button home_button" type="submit">
                                            Delete item</button>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
