<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Find Out How It Works..</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="450" height="300" src="https://www.youtube.com/embed/s8xNjELtkKA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="button modal_button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Home about.html -->

<div class="about_home">
    <div class="background_image" style="background-image:url(/media/html_images/about_page.jpg)"></div>
    <div class="overlay"></div>
    <div class="about_home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <div class="about_home_title">About us</div>
                        <div class="about_home_subtitle">Quick results, Weight-loss, Train at home, Lasting results
                        </div>
                        <div class="button home_button mt-4">
                            <a href="#about_section">
                                Read more</a>
                        </div>
                        <div class="video_link" data-toggle="modal" data-target="#exampleModal">
                            <div class="video_link_content d-flex flex-row align-items-center justify-content-start">
                                <div class="video_icon d-flex flex-column align-items-center justify-content-center">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </div>
                                <span class="video_text">Find Out How it Works Video</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->

<div class="about_about" id="about_section">
    <div class="container about_container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about_about_content">
                    <div class="section_title_container">
                        <div class="section_subtitle">welcome to WorldofShape</div>
                        <div class="section_title">About <span>World of Shape</span></div>
                    </div>
                    <!--<div class="video_link">
                        <a class="vimeo video_button d-flex flex-column align-items-center justify-content-center"
                            href="https://youtu.be/s8xNjELtkKA">
                            <div class="video_link_content d-flex flex-row align-items-center justify-content-start">
                                <div class="video_icon d-flex flex-column align-items-center justify-content-center">
                                    <i class="fa fa-play" aria-hidden="true"></i></div>
                                <span class="video_text">Find Out How it Works Video</span>
                            </div>
                        </a>
                    </div>-->
                    <div class="text_highlight">We are an online training company that have over 45,000 clients. We have
                        helped them get fit in just 30 days with our unique training method! With us you will receive
                        support from our trained PT's, educational and effective training programs in video format that
                        you can work out with at home, you also get access to ready-made meals with associated shopping
                        list and approximately 450 calorie-saving, good and easy-to-prepare recipes.
                    </div>

                    <div class="about_about_text">
                        <p>Our business concept is simple - <strong>Delivering fast results!</strong></p>
                        <p>
                            - Over 45,000 people have already trained with us!<br>
                            - Lose up to 10% of your body weight in just 30 days!<br>
                            - Train at home - no expensive gym cards or exercise machines needed!<br>
                            - Do you want to increase your fat burning, losing weight, getting a flatter belly,
                            a
                            slimmer waist, firmer thighs or harder butt in just 30 days?<br>
                            - Have you tried to get fit but not got the results you want?<br>
                            - Do you want to be able to work out at home, without expensive gym equipment or
                            training card?<br>
                            - Do you want ready-made programs and weekly food meals, support and answers to all
                            your questions within 24 hours?<br>
                            - Do you really want to make a change and get lasting results that over 45,000
                            people
                            have already received with us since 2011?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="text_highlight">
                            If you answer "yes" to any of the questions above, do the following: <br>Sign up
                            to follow our effective and educational exercises, and our weekly low-calorie, diet food
                            slips which are designed for maximum fat burning. you
                            don't need to think about what to do, all you have to do is just to follow our instructions.
                            With our unique
                            exercise programs and easy-to-prepare, low-calorie recipes you will get the results
                            you always wanted!
                        </p>
                    </div>
                </div>
                <div class="button about_button"><a href="{% url 'products' %}">Join Now</a></div>
            </div>
        </div>
    </div>
    <div class="about_background">
        <div class="about_about_image"><img src="/media/html_images/a2.png" alt="Image of woman stretching"></div>
    </div>
</div>



<!-- Discount -->

<div class="extra d-flex flex-column align-items-center justify-content-center text-center">
    <div class="background_image" style="background-image:url(/media/html_images/extra_wide.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="extra_content d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="extra_title">15% Discount</div>
                    <div class="extra_text">
                        <p>Get a one time discount of 15% of your first mealplan order. Excercise along side a healty
                            diet will make your journey to your new self faster and smoother.</p>
                    </div>
                    <div class="button extra_button"><a href="#">Join Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
