<!DOCTYPE html>
{% extends "base.html" %}
<title>about</title>
{% block content %}
<!-- Home -->
<div class="home">
    <div class="background_image" style="background-image:url(/static/img/biceps.png)"></div>
    <div class="overlay"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <div class="video_link">
                            <a class="vimeo video_button d-flex flex-column align-items-center justify-content-center"
                                href="https://youtu.be/s8xNjELtkKA">
                                <div
                                    class="video_link_content d-flex flex-row align-items-center justify-content-start">
                                    <div
                                        class="video_icon d-flex flex-column align-items-center justify-content-center">
                                        <i class="fa fa-play" aria-hidden="true"></i></div>
                                    <span class="video_text">Find Out How it Works Video</span>
                                </div>
                            </a>
                        </div>
                        <div class="home_title">Get fit with us</div>
                        <div class="home_subtitle">Quick weight loss, Train at home</div>
                        <div class="button home_button ml-auto mr-auto"><a href="{% url 'programs' %}">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boxes -->
<div class="boxes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="boxes_container d-flex flex-lg-row flex-column align-items-start justify-content-start">

                    <!-- Box 1 -->
                    <div class="box">
                        <div class="box_icon d-flex flex-column align-items-center justify-content-center"><img
                                src="/static/img/training-program.png" alt="{% url 'programs' %}"></div>
                        <div class="box_title">Training programs</div>
                        <div class="box_text">
                            <p>We offer training programs for all needs and situations. Start your journey today and get
                                fast results in just 30 days. Click the button to find our more.</p>
                            <div class="button home_button ml-auto mr-auto"><a href="{% url '#program_section' %}">Read
                                    more</a>
                            </div>
                        </div>
                    </div>

                    <!-- Box 2 -->
                    <div class="box">
                        <div class="box_icon d-flex flex-column align-items-center justify-content-center"><img
                                src="/static/img/weight-icon.png" alt=""></div>
                        <div class="box_title">Weight loss analysis</div>
                        <div class="box_text">
                            <p>If you want some guidance to what program suits you and your needs best, take our quick
                                and easy weight loss analysis.</p>
                            <div class="button home_button ml-auto mr-auto"><a href="{% url 'weight_loss' %}">Read
                                    more</a></div>
                        </div>
                    </div>

                    <!-- Box 3 -->
                    <div class="box">
                        <div class="box_icon d-flex flex-column align-items-center justify-content-center"><img
                                src="/static/img/check-list-icon.png" alt=""></div>
                        <div class="box_title">Healthy diet plan</div>
                        <div class="box_text">
                            <p>Diet and healthy eating is as important as exercise and training! Check out our nutrtion
                                section and our recipes:</p>
                            <div class="button home_button ml-auto mr-auto"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- About -->

<div class="home_about">
    <div class="container home_about_container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home_about_content">
                    <div class="section_title_container">
                        <div class="section_subtitle">Welcome to World of Shape</div>
                        <div class="section_title">About <span>World of Shape</span></div>
                    </div>
                    <div class="text_highlight">Etiam commodo justo nec aliquam feugiat. Donec a leo eget eget
                        augue porttitor sollicitudin augue porttitor sollicitudin.</div>
                    <div class="home_about_text">
                        <p>Morbi sed varius risus, vitae molestie lectus. Donec id hendrerit velit, eu fringilla
                            neque. Etiam id finibus sapien. Donec sollicitudin luctus ex non pharetra. Aenean
                            lobortis ut leo vel porta. Maecenas ac vestibulum lectus. Cras nulla urna, lacinia
                            ut tempor facilisis, congue dignissim tellus. Maecenas ac vestibulum lectus. Cras
                            nulla urna, lacinia ut tempor facilisis, congue dignissim tellus. Phasellus sit amet
                            justo ullamcorper, elementum ipsum nec.</p>
                    </div>
                    <div class="col-lg-6 offset-lg-6 fill_height">
                        <div class="home_about_image"><img src="/static/img/abs500px.jpg" alt=""></div>
                    </div>
                    <div class="button about_button"><a href="{% url 'main-about' %}">Read more</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="home_about_background">
        <div class="container fill_height">
            <div class="row fill_height">

            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->

<div class="testimonials" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll"
        data-image-src="/static/images/testimonials.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title_container">
                    <div class="section_subtitle">world of shape</div>
                    <div><a class="section_title" href="{% url 'testimonials' %}">Testimonials</a></div>
                </div>

                <!-- Testimonial -->
                <div class="test test_1 d-flex flex-row align-items-start justify-content-start">
                    <div class="test_content">

                        <div class="test_name"><a href="{% url 'testimonials' %}">Lisa</a></div>
                        <div class="test_image"><img src="/static/img/lisa-soederberg.jpg" alt="Image of a woman">
                        </div>
                        <div class="test_title">- 30 day results -
                            <ul>
                                <li class="test-list">Weight: -9 kg</li>
                                <li class="test-list">Waist: -22 cm</li>
                                <li class="test-list">Resting puls: -18 beats/min</li>
                            </ul>
                        </div>
                        <div class="test_text">
                            <p>I signed up for the World of Shape because I saw that many ordinary people had
                                implemented the program with amazing results!
                                World of Shape has developed a concept that is easy to follow. Nice exercise for
                                the body that can also be carried out at home.</p> <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">

                <!-- Testimonial -->
                <div class="test d-flex flex-row align-items-start justify-content-start">

                    <div class="test_content">

                        <div class="test_name"><a href="{% url 'testimonials' %}">Sofie</a></div>
                        <div class="test_image"><img src="/static/img/sofie.jpg" alt="Image of a woman"></div>
                        <div class="test_title">- 30 day results -
                            <ul>
                                <li class="test-list">Weight: -4.8 kg</li>
                                <li class="test-list">Waist: -21 cm</li>
                                <li class="test-list">Resting puls: -12 beats/min</li>
                            </ul>
                        </div>
                        <div class="test_text">
                            <p>I'm very pleased with the results World of Shape has given me. That I saw big
                                changes after 10 days is amazing. It's a great setup that you can practice at
                                home (as I did) and at the gym.</p> <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <!-- Testimonial -->
                <div class="test d-flex flex-row align-items-start justify-content-start">

                    <div class="test_content">

                        <div class="test_name"><a href="{% url 'testimonials' %}">Maria</a></div>
                        <div class="test_image"><img src="/static/img/maria_jonsson.jpg" alt="Image of a woman"></div>
                        <div class="test_title">- 30 day results -
                            <ul>
                                <li class="test-list">Weight: -9.9 kg</li>
                                <li class="test-list">Waist: -18 cm</li>
                                <li class="test-list">Resting puls: -21 beats/min</li>
                            </ul>
                        </div>
                        <div class="test_text">
                            <p>Thanks to World of Shape, I have gained a lot of knowledge of both diet and
                                exercise and I feel I've found my stuff !!
                                P.S Finally, all my superficial training clothes will finally be used !! :-)</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row test_button_row">
        <div class="col text-center">
            <div class="button test_button"><a href="{% url 'programs' %}">Join Now</a></div>
        </div>
    </div>
</div>
{% endblock content %}
