<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<!-- Checkout top section-->
<div class="testimonials testimonials_section" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll"
        data-image-src="/media/html_images/testimonials.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title_container">

                    <div class="section_title testimonials_section_title">Checkout</div>
                    <div class="testimonials_home_subtitle">Check your ordered item(s) below, if correct proceed to
                        payment
                        at bottom of page.
                    </div>
                    <br><br>
                </div>


                <div class="col-lg-12">
                    <!-- Programs from cart -->
                    <div id="program_section">
                        <div class="container">
                            <div class="row services_row">
                                {% for item in cart_items %}
                                <div class="col-12 bottom_separator">
                                    <div class="service">
                                        {% if item.meal %}
                                        <div
                                            class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                            <div class="cart_title_checkout">{{ item.meal.name }}</div>
                                        </div>

                                        <p class="cart_text_checkout">{{ item.meal.description }}</p>
                                        <p class="price_checkout">Price: {{ item.meal.price }}</p>
                                        {% else %}
                                    </div>
                                    <div
                                        class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                        <div class="cart_title_checkout">{{ item.product.name }}</div>
                                    </div>
                                    <p class="cart_text_checkout">{{ item.product.description }}</p>
                                    <p class="price_checkout">Price: {{ item.product.price }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="button home_button ml-auto mr-auto mb-4">
                <a href="{% url 'view_cart' %}">
                    Change Order</a>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="cart_total_checkout">Cart Total:</div>
                    <div class="cart_total_checkout cart_total_pb top_separators">{{ total }}</div>
                </div>
            </div>
        </div>
        <form action="{% url 'checkout' %}" id="payment-form" method="post">

            <div id="credit-card-errors" style="display:none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 mr-auto ml-auto">
                    <legend>Payment Details</legend>
                    {{ order_form }}
                </div>
                <div class="form-group col-lg-6 mr-auto ml-auto">
                    <legend>Card Details</legend>
                    {{ payment_form }}
                </div>
                {% csrf_token %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row test_button_row testimonals_bottom">
                        <input class="button submit_button mr-auto ml-auto" id="submit_payment_btn" name="commit"
                            type="submit" value="Submit Payment">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
