<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- Top -->

<div class="training_home_single">
    <div class="background_image" style="background-image:url(/media/html_images/index.jpg)"></div>
    <div class="training_home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="">
                        <div class="training_home_title">{{ meal.name }}</div>
                        <div class="training_home_subtitle">Read all about this program below...</div>
                        <div class="button add_to_cart_button extra_padding"><a
                                href="{% url 'add_meal_to_cart' meal.id %}">Add
                                to
                                Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Meal  -->

<div class="single_program_section" id="program_section">
    <div class="container">

        <!-- Meal for loop -->
        <div class="row meal_row">
            <div class="col-12">
                <div class="service">
                    <div class="product_image"><img class="meal_image" src="{{ meal.image }}" alt="Meal program image">
                    </div>
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-center">
                        <div class="service_title_program">{{ meal.name }}</div>
                    </div>
                    <div class="service_title_meal2 d-flex flex-row align-items-center justify-content-center">
                        {{ meal.name2 }}</div>
                    <p class="service_text_single_top">{{ meal.description }}</p>
                    <p class="service_text_single">{{ meal.full_description }}</p>
                    <p class="price_program">{{ meal.price }}</p>
                    <span class="input_group">
                        <div class="button add_to_cart_button ml-auto mr-auto">
                            <a href="{% url 'add_meal_to_cart' meal.id %}">Add
                                to
                                Cart</a>
                        </div>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
