<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- Top -->

<div class="training_home">
    <div class="background_image" style="background-image:url(/static/images/index.jpg)"></div>
    <div class="overlay"></div>
    <div class="training_home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="">
                        <div class="training_home_title">Meal & diet plans</div>
                        <div class="training_home_subtitle">Get started today! Scroll down and read more about our
                            meal and diet plans.</div>
                        <div class="button home_button mt-4">
                            <a href="#program_section">
                                Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Meals  -->

<div class="about_services" id="program_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_subtitle">welcome to World of Shape</div>
                    <div class="section_title">our <span>meals and dietplans</span></div>
                    <p class="program_text"><strong>Our aim at World of Shape is to help you gain a natural weight loss
                            with the help of our
                            reciepes and mealplans</strong><br><br>Our recipes and meal plans contain full shopping
                        lists of
                        recipes with low calories that taste great and are easy to cook. There are recipes for all types
                        of diet such as Lactose and vegetarian diets. The calorie calculations are for one person, and
                        they are based on 1500 kcal for females and 2200 kcal for males.</p>
                </div>
            </div>
        </div>

        <!-- Meals for loop -->
        <div class="row services_meals">
            {% for meal in meals %}
            <div class="col-xl-4 col-md-6 service_col program_separator">
                <div class="service">
                    <div class="meal_image" style="background-image: url('{{ MEDIA_URL }}{{ meal.image }}')">
                    </div>
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_title_meal">{{ meal.name }}</div>
                    </div>
                    <a class="read_more" href="{% url 'meal-detail' meal.id %}">read
                        more...</a>
                    <p class="service_text_meal">{{ meal.description }}</p>
                    <p class="price">{{ meal.price }}</p>
                    <span class="input_group">
                        <div class="button add_to_cart_button ml-auto mr-auto">
                            <a href="{% url 'add_meal_to_cart' meal.id %}">Add
                                to
                                Cart</a>
                        </div>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Discount -->

<div class="extra d-flex flex-column align-items-center justify-content-center text-center">
    <div class="background_image" style="background-image:url(/static/images/extra_wide.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="extra_content d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="extra_title">15% Discount</div>
                    <div class="extra_text">
                        <p>Morbi sed varius risus, vitae molestie lectus. Donec id hendrerit velit, eu fringilla
                            neque. Etiam id finibus sapien. Donec sollicitudin luctus ex non pharetra.llus.</p>
                    </div>
                    <div class="button extra_button"><a href="#">Join Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
