<!DOCTYPE html>

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="register_login">
    <div class="background_image" style="background-image:url(/media/html_images/services.jpg)"></div>
    <div class="register_container">
        <div class="container"></div>
        <div class="row">
            <div class="col">
                <div class="login_content">
                    <div class="register_title mb-4">Login</div>
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form_group">
                            {{ form.errors }}
                            {{ form }}
                        </fieldset>
                        <div class="form_group">
                            <button class="button home_button ml-auto mr-auto mb-4" type="submit">Login</button>
                            <small class="text-muted ml-2">
                                <a class="anchor_color" href="{% url 'password_reset' %}">Forgot Password ?</a>
                            </small>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need An Account? <a class="ml-2 anchor_color" href="{% url 'register' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
