<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="register_home">
    <div class="background_image" style="background-image:url(/static/images/services.jpg)"></div>
    <div class="register_container">
        <div class="container"></div>
        <div class="row">
            <div class="col">
                <div class="register_content">
                    <div class="register_title mb-4">Reset Password</div>
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form_group">
                            {{ form.errors }}
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form_group">
                            <button class="button home_button ml-auto mr-auto mb-4" type="submit">Request
                                Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
