<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Stefan Brunotte, mrbrunotte@gmail.com">
	<meta name="description" content="Django porject - World of Shape - Milestone four project, Code Institute">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Style links-->
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/colorbox/colorbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap-4.1.2/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/compiled_styles.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



	{% block head_js %}
	{% endblock head_js %}

	{% if title %}
	<title>World of Shape - {{ title }}</title>
	{% else %}
	<title>World of Shape</title>
	{% endif %}
</head>


<body>
	<div class="super_container">

		<!-- Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
							<a href="{% url 'main-home' %}">
								<div class="logo d-flex flex-row align-items-center justify-content-start"><img
										src="/static/images/dot.png" alt="World of Shape logo">
									<div>World<span>of</span>Shape</div>
								</div>
							</a>
							<!-- Navbar -->
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li class="nav_list"><a href="{% url 'main-home' %}">Home</a></li>
									<li class="nav_list"><a href="{% url 'main-about' %}">About</a></li>
									<li class="nav_list"><a href="{% url 'products' %}">Our Training</a></li>
									<li class="nav_list"><a href="{% url 'meals' %}">Our Meals</a></li>
									<li class="nav_list"><a href="{% url 'testimonials' %}">Testimonials</a></li>
									<li class="nav_list"><a href="{% url 'contact' %}">Contact</a></li>
									{% if user.is_authenticated %}
									<li class="nav_list"><a href="{% url 'profile' %}">Profile</a></li>
									<li class="nav_list"><a href="{% url 'logout' %}">Logout</a></li>
									{% else %}
									<li class="nav_list"><a href="{% url 'login' %}">Login</a></li>
									<li class="nav_list"><a href="{% url 'register' %}">Register</a></li>
									{% endif %}
									<li class="nav_list"><a href="{% url 'view_cart' %}"><i
												class="fa fa-shipping-cart"></i>Cart {% if total_cart_items > 0 %}
											<label class="badge badge-warning">{{ total_cart_items }}</label>
											{% endif %}
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Hamburger animation -->

		<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
			<div class="hamburger">
				<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
					<span>menu</span>
					<div class="hamburger_container">
						<div class="menu_hamburger">
							<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
							<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
							<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Menu -->

		<div class="menu trans_800">
			<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
				<ul>
					<li class="nav_list"><a href="{% url 'main-home' %}">Home</a></li>
					<li class="nav_list"><a href="{% url 'main-about' %}">About</a></li>
					<li class="nav_list"><a href="{% url 'products' %}">Our Training</a></li>
					<li class="nav_list"><a href="{% url 'meals' %}">Our Meals</a></li>
					<li class="nav_list"><a href="{% url 'testimonials' %}">Testimonials</a></li>
					<li class="nav_list"><a href="{% url 'contact' %}">Contact</a></li>
					{% if user.is_authenticated %}
					<li class="nav_list"><a href="{% url 'profile' %}">Profile</a></li>
					<li class="nav_list"><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
					<li class="nav_list"><a href="{% url 'login' %}">Login</a></li>
					<li class="nav_list"><a href="{% url 'register' %}">Register</a></li>
					{% endif %}
					<li class="nav_list"><a href="{% url 'view_cart' %}"><i class="fa fa-shipping-cart"></i>Cart
							{% if total_cart_items > 0 %}
							<label class="badge badge-warning">{{ total_cart_items }}</label>
							{% endif %}
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- message within block content -->
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}

		<!-- Block content -->
		{% block content %}
		{% endblock %}
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="footer_container">
						<div class="footer_content">
							<div class="footer_logo">
								<a href="{% url 'main-home' %}">
									<div class="logo d-flex flex-row align-items-center justify-content-center"><img
											src="/static/images/dot.png" alt="World of shape logo">
										<div class="footer_logo">World<span>of</span>Shape</div>
									</div>
								</a>
							</div>
							<nav class="footer_nav">
								<ul
									class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
									<li class="nav_list"><a href="{% url 'main-home' %}">Home</a></li>
									<li class="nav_list"><a href="{% url 'main-about' %}">About</a></li>
									<li class="nav_list"><a href="{% url 'products' %}">Our Training</a></li>
									<li class="nav_list"><a href="{% url 'meals' %}">Our Meals</a></li>
									<li class="nav_list"><a href="{% url 'testimonials' %}">Testimonials</a></li>
									<li class="nav_list"><a href="{% url 'contact' %}">Contact</a></li>
									{% if user.is_authenticated %}
									<li class="nav_list"><a href="{% url 'profile' %}">Profile</a></li>
									<li class="nav_list"><a href="{% url 'logout' %}">Logout</a></li>
									{% else %}
									<li class="nav_list"><a href="{% url 'login' %}">Login</a></li>
									<li class="nav_list"><a href="{% url 'register' %}">Register</a></li>
									{% endif %}
								</ul>
							</nav>

						</div>
						<div class="footer_image text-center"><img src="/static/images/footer.png" alt=""></div>
					</div>
				</div>
			</div>
			<div class="copyright d-flex flex-row align-items-start justify-content-sm-end justify-content-center">
				<p class="wos_disclaimer">All rights reserved World of Shape AB © 2020 | Privacy Policy |
					info@worldofshape.se
					Disclaimer: These results are personal experiences and may vary.<br>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;

					<script>document.write(new Date().getFullYear());</script>
					All rights reserved |
					This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
						href="https://colorlib.com" target="_blank">Colorlib</a></p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</footer>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'styles/bootstrap-4.1.2/popper.js' %}"></script>
	<script src="{% static 'styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
	<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
