<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Stefan Brunotte, mrbrunotte@gmail.com">
    <meta name="description" content="Django porject - World of Shape - HTML code validation page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style links-->
    <link rel="stylesheet" type="text/css" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/plugins/colorbox/colorbox.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/compiled_styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Testing for Code Validation</title>
</head>
<!--

Steps to use this template 
1.  Copy the HTMl code between the "block content" and the "endblock content" tag in the HTML template that you want to validate.
2.  Paste in the code below the two lines:
    
    Line 223:   PASTE CODE BELOW (don't delete this message)

                END TESTED CODE

3.  Copy the whole HTML in this template and paste it into the HTML validator 
4. Filter out errors due to jinja!

-->

<body>
    <div class="container_test">
        <div class="row">
            <div class="col-12">
                <h1 class="h1_test">HTML Validation page</h1>
                <h2 class="p_test">This page is used to test all the HTML code blocks present in World of Shape.</h2>
                <div class="center">
                    <img class="img_test" src="/media/html_images/html_validation.PNG" alt="Image of code Validator">
                </div>
                <p class="p_validation_text">All code blocks from the different templates are pasted into the section
                    below and passed through the
                    <a class="link_test" href="https://validator.w3.org/#validate_by_input">HTML Code Validator</a> for
                    HTML code validation</p>
                <p class="p_validation_text">Test result without any codeblock:
                    <img class="img_no_error" src="../media/html_images/no_html_error.PNG"
                        alt="Image saying that there are no errors">
                </p>
                <p class="p_validation_text">Filter errors due to the use of Jinja are ignored and filtered out!
                    <img class="img_error_filter" src="../media/html_images/error_html_filter.PNG"
                        alt="Image of error filter">
                </p>
                <h2>Tested Templates and result (with jinja filter)</h2>
                <ul>
                    <li class="apps">Template: cart/cart.html <img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: checkout/checkout.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: home/404.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: home/500.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: home/about.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: home/contact.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: home/index.html<p><strong>Error:</strong> Attribute home_button not
                            allowed on element img
                            at this point. <span class="apps_span">Error due to class attribute and intentionally
                                ignored!</span></p>
                    </li>
                    <li class="apps">Template: home/testimonials.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: meals/meal.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: meals/meals.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: products/correct_program.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: products/program.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: products/programs.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: products/weight_analysis.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/index.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/login.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/logout.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/password_reset_complete.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/password_reset_confirm.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/password_reset_done.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/password_reset.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/profile.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                    <li class="apps">Template: users/register.html<img class="img_no_error"
                            src="../media/html_images/no_html_error.PNG" alt="Image saying that there are no errors">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container_test">
        <h2 class="h2_test">Paste the HTML code into the section below</h2>
        <div class="html_test_container">


            <div class="super_container">
                <header class="header">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div
                                    class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                                    <a href="#">
                                        <div class="logo d-flex flex-row align-items-center justify-content-start"><img
                                                src="/media/html_images/dot.png" alt="World of Shape logo">
                                            <div>World<span>of</span>Shape</div>
                                        </div>
                                    </a>
                                    <!-- Navbar -->
                                    <nav class="main_nav">
                                        <ul class="d-flex flex-row align-items-center justify-content-start">
                                            <li class="nav_list"><a href="#">Home</a></li>
                                            <li class="nav_list"><a href="#">About</a></li>
                                            <li class="nav_list"><a href="#">Our Training</a></li>
                                            <li class="nav_list"><a href="#">Our Meals</a></li>
                                            <li class="nav_list"><a href="#">Testimonials</a>
                                            </li>
                                            <li class="nav_list"><a href="#">Contact</a></li>
                                            <!--{% if user.is_authenticated %}-->
                                            <li class="nav_list"><a href="#">Profile</a></li>
                                            <li class="nav_list"><a href="#">Logout</a></li>
                                            <!--{% else %}-->
                                            <li class="nav_list"><a href="#">Login</a></li>
                                            <li class="nav_list"><a href="#">Register</a></li>
                                            <!--{% endif %}-->
                                            <li class="nav_list"><a href="#"><i class="fa fa-shipping-cart"></i>Cart

                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <!-- Hamburger animation -->

                <div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
                    <div class="hamburger">
                        <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
                            <span>menu</span>
                            <div class="hamburger_container">
                                <div class="menu_hamburger">
                                    <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                    </div>
                                    <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
                                    <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Menu -->

                <div class="menu trans_800">
                    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                        <ul>
                            <li class="nav_list"><a href="#">Home</a></li>
                            <li class="nav_list"><a href="#">About</a></li>
                            <li class="nav_list"><a href="#">Our Training</a></li>
                            <li class="nav_list"><a href="#">Our Meals</a></li>
                            <li class="nav_list"><a href="#">Testimonials</a></li>
                            <li class="nav_list"><a href="#">Contact</a></li>
                            <!--{% if user.is_authenticated %}-->
                            <li class="nav_list"><a href="#">Profile</a></li>
                            <li class="nav_list"><a href="#">Logout</a></li>
                            <!--{% else %}-->
                            <li class="nav_list"><a href="#">Login</a></li>
                            <li class="nav_list"><a href="#">Register</a></li>
                            <!--{% endif %}-->
                            <li class="nav_list"><a href="#"><i class="fa fa-shipping-cart"></i>Cart
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- PASTE CODE BELOW (don't delete this message) -->






                <!--END TESTED CODE -->

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="footer_container">
                        <div class="footer_content">
                            <div class="footer_logo">
                                <a href="#">
                                    <div class="logo d-flex flex-row align-items-center justify-content-center">
                                        <img src="/media/html_images/dot.png" alt="World of shape logo">
                                        <div class="footer_logo">World<span>of</span>Shape</div>
                                    </div>
                                </a>
                            </div>
                            <nav class="footer_nav">
                                <ul
                                    class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
                                    <li class="nav_list"><a href="#">Home</a></li>
                                    <li class="nav_list"><a href="#">About</a></li>
                                    <li class="nav_list"><a href="#">Our Training</a></li>
                                    <li class="nav_list"><a href="#">Our Meals</a></li>
                                    <li class="nav_list"><a href="#">Testimonials</a>
                                    </li>
                                    <li class="nav_list"><a href="#">Contact</a></li>
                                    <!--{% if user.is_authenticated %}-->
                                    <li class="nav_list"><a href="#">Profile</a></li>
                                    <li class="nav_list"><a href="#">Logout</a></li>
                                    <!--{% else %}-->
                                    <li class="nav_list"><a href="#">Login</a></li>
                                    <li class="nav_list"><a href="#">Register</a></li>
                                    <!--{% endif %}-->
                                </ul>
                            </nav>

                        </div>
                        <div class="footer_image text-center"><img src="/media/html_images/footer.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright d-flex flex-row align-items-start justify-content-sm-end justify-content-center">
                <p class="wos_disclaimer">All rights reserved World of Shape AB © 2020 | Privacy Policy |
                    info@worldofshape.se
                    Disclaimer: These results are personal experiences and may vary.<br>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;

                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved |
                    This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a></p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </div>
        </div>
    </footer>
    <!--Script src -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/'styles/bootstrap-4.1.2/popper.js"></script>
    <script src="../static/'styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="../static/'plugins/parallax-js-master/parallax.min.js"></script>
    <script src="../static/'plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="../static/'js/custom.js"></script>
</body>

</html>
