@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
--- base.html ---
3. Header - navbar - hamburger animation
4. Menu
--- App page sections ---
5. Home
6. Boxes
7. About
8. Testimonials
9. Login/Register


9. Gallery
10. Services
11. Blog
12. Footer




******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #535353;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(249,140,0,0.75);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.trans_800
{
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 190px;
	height: 43px;
	border-radius: 22px;
	background: #f98c00;
	box-shadow: 0 0 1px 0 #FFFFFF inset, 0 0 1px 0 #FFFFFF;
	text-align: center;
}
.button a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 43px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	z-index: 1;
}
.button a::before
{
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 130px;
	height: 100%;
	content: '';
	background: #ff9711;
	border-radius: 22px;
	z-index: -1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover a::before
{
	width: 100%;
}
.section_subtitle
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ff9711;
	line-height: 0.75;
	margin-top: 50px;
}
.section_title
{
	font-size: 72px;
	font-weight: 400;
	color: #262626;
	line-height: 1.1;
	margin-top: 3px;
	text-transform: capitalize;
}
.section_title span
{
	font-weight: 600;
}
.rating i::before
{
	font-family: 'FontAwesome';
	content: "\f005";
	font-style: normal;
	margin-right: 4px;
	color: #e0cccd;
}
.rating_1 i:first-child::before{color: #fba40e;}
.rating_2 i:first-child::before{color: #fba40e;}
.rating_2 i:nth-child(2)::before{color: #fba40e;}
.rating_3 i:first-child::before{color: #fba40e;}
.rating_3 i:nth-child(2)::before{color: #fba40e;}
.rating_3 i:nth-child(3)::before{color: #fba40e;}
.rating_4 i:first-child::before{color: #fba40e;}
.rating_4 i:nth-child(2)::before{color: #fba40e;}
.rating_4 i:nth-child(3)::before{color: #fba40e;}
.rating_4 i:nth-child(4)::before{color: #fba40e;}
.rating_5 i:first-child::before{color: #fba40e;}
.rating_5 i:nth-child(2)::before{color: #fba40e;}
.rating_5 i:nth-child(3)::before{color: #fba40e;}
.rating_5 i:nth-child(4)::before{color: #fba40e;}
.rating_5 i:nth-child(5)::before{color: #fba40e;}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: solid 1px #FFFFFF;
	background: #262626;
	z-index: 100;
}
.header_content
{
	width: 100%;
	height: 101px;
}
.header.scrolled .header_content
{
	height: 65px;
}
.logo
{
	left: -30px;
}
.logo > div
{
	font-size: 28.3px;
	line-height: 0.75;
	color: #FFFFFF;
	font-weight: 700;
}
.logo > div span
{
	font-weight: 300;
	text-transform: uppercase;
}

.main_nav
{
	margin-left: 120px;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 65px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
	color: #ff9711;
}
.nav_list {
	text-align: center;
}
.phone
{
	height: 43px;
	padding-left: 23px;
	padding-right: 20px;
	border-radius: 22px;
	border: solid 1px #ff9711;
	box-shadow: 0 0 1px 0 #ff9711 inset, 0 0 1px 0 #ff9711;
}
.phone i
{
	font-size: 18px;
	color: #ff9711;
	margin-right: 12px;
}
.phone > div
{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}
.hamburger_bar
{
	position: fixed;
	top: 0;
	right: calc((100vw - 690px) / 2 - 15px);
	width: auto;
	height: 101px;
	z-index: 102;
}
.hamburger_bar.scrolled
{
	height: 65px;
}
.hamburger
{
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0px;
	cursor: pointer;
	padding: 15px;
	z-index: 2;
}
.menu_toggle
{
	display: block;
}
.menu_hamburger
{
	display: block;
	position: relative;
	width: 12px;
	height: 12px;
}
.hamburger_lines
{
	display: block;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 2px;
	background: #F7F7F7;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
	transform-origin: center center;
}
.line_1
{
	top: 0px;
}
.line_2
{
	top: 5px;
}
.line_3
{
	top: 10px;
}
.hamburger.active .line_1
{
	transform: translateY(5px) rotate(45deg) !important;
}
.hamburger.active .line_3
{
	transform: translateY(-5px) rotate(-45deg) !important;
}
.hamburger.active .line_2
{
	opacity: 0 !important;
}
.menu_toggle span
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #F7F7F7;
	margin-top: 1px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.85);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	padding-bottom: 100px;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_content ul li:not(:last-child)
{
	margin-bottom: 3px;
}
.menu_content ul li
{
	display: block;
}
.menu_content ul li a
{
	display: block;
	font-size: 24px;
	text-transform: uppercase;
	color: rgba(255,255,255,1);
	font-weight: bold;
	letter-spacing: 0.075em;
}
.menu_content ul:hover li a
{
	color: rgba(255,255,255,0.5);
}
.menu_content ul li a:hover
{
	color: rgba(255,255,255,1);
}
.menu_phone
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 40px;
	height: 43px;
	padding-left: 23px;
	padding-right: 20px;
	border-radius: 22px;
	border: solid 1px #ff9711;
	box-shadow: 0 0 1px 0 #ff9711 inset, 0 0 1px 0 #ff9711;
}
.menu_phone i
{
	font-size: 18px;
	color: #ff9711;
	margin-right: 12px;
}

/*********************************
5. Home
*********************************/


.home,
.about_home,
.training_home,
.profile_home {
	width: 100%;
	overflow: hidden;
}
/* index.html*/
.home,
.profile_home,
.testimonials_home {
    height: 100vh;
}
.testimonials_home {
    border-bottom: solid 3px #ff9711;
}

/* about.html*/
.about_home,
.training_home {
    height: 667px;
}
.overlay
{
	position: absolute;
	left: 0;
	bottom: -270px;
	width: 120%;
	height: 270px;
	background: #FFFFFF;
	transform-origin: top left;
	transform: rotate(-8deg);
	z-index: 1;
	box-shadow: 0 0 1px 0 #FFFFFF inset, 0 0 1px 0 #FFFFFF;
}
.home_container,
.about_home_container,
.logout_home_container,
.contact_container {
    position: absolute;
	left: 0;
	width: 100%;
}
.testimonials_home_container {
	top: 34%;
}
.home_container {
	top: 31.61%;
}
.about_home_container,
.training_home_container,
.contact_container  {
    top: 48.1%;
}
.profile_container {
	top: 15%;
}
.logout_home_container {
	top: 30%;
}
.video_link
{
	display: inline-block;
	z-index: 1;
}
.video_icon
{
	width: 30px;
	height: 30px;
	background: #ff9711;
	border-radius: 50%;
	margin-right: 16px;
}
.video_icon i
{
	color: #FFFFFF;
	font-size: 10px;
}
.vimeo:focus
{
	outline: none;
}
.video_text
{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.video_text:hover
{
	color: #ff9711;
}
.home_title,
.about_home_title,
.training_home_title,
.username_title,
.contact_home_title,
.testimonials_home_title {
    font-weight: 200;
    color: #fff;
    line-height: 1.2;
	margin-top: -9px;
}
.username_title {
	padding: 30px 0;
}
.username_email_subtitle {
	padding-top: 5px;
}
.home_title {
	font-size: 100px;
}
.about_home_title,
.training_home_title,
.training_home_title,
.profile_home_title,
.contact_home_title,
.testimonials_home_title {
	font-size: 72px;
}
.home_subtitle,
.about_home_subtitle,
.training_home_subtitle,
.username_email_subtitle,
.username_title,
.contact_home_subtitle,
.testimonials_home_subtitle  {
    font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.strong_profile {
	color: #f98c00;
	font-size: 1.2rem;
	padding-left: 40px;
}
.strong_profile::before {
	content: open-quote;
}
.strong_profile::after {
	content: close-quote;
}
.home_subtitle {
	margin-top: -6px;
}
.about_home_subtitle,
.training_home_subtitle,
.training_home_subtitle {
	margin-top: 1px;
}
.home_button
{
	border: solid 1px #FFFFFF;
	margin-top: 44px;
}
.home_button:hover {
	color:white;
}

.home_button a
{
	line-height: 41px;
}
.my_logo > div
{
	font-size: 28.3px;
	line-height: 0.75;
	color: black;
	font-weight: 700;
}
.my_logo > div span
{
	font-weight: 300;
	text-transform: uppercase;
}
.contact {
	background: #FFFFFF;
	padding-top: 42px;
	padding-bottom: 100px;
}
.contact_title {
    font-size: 24px;
    font-weight: 400;
    color: #262626;
    line-height: 0.75;
}
.contact_text {
	margin-top: 30px;
}
p:last-of-type {
	margin-bottom: 0;
}
.contact_list {
	padding-left: 34px;
	margin-top: 51px;
	max-width: 230px;
}
.contact_list ul li > div:first-of-type > div {
    width: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #ff9711;
    line-height: 1.714;
}
.contact_list ul li > div:last-of-type {
    font-size: 14px;
    font-weight: 400;
    color: #535353;
    line-height: 1.714;
}
.contact_option {
	text-transform: uppercase;
	font-size: 1rem;
	color: rgba(249,140,0,0.75);
}
.contact_option_size {
	width: 200px;
	padding-left: 25px;
}
.contact_form_container {
    margin-top: 45px;
}
.input_item {
    margin-bottom: 17px;
}
.my_contact_input {
    width: 100%;
    height: 52px;
    border: none !important;
        border-left-color: currentcolor !important;
        border-left-style: none !important;
        border-left-width: medium !important;
    outline: none;
    background: #eff4f6;
    padding-left: 25px !important;
    border-left: solid 2px transparent !important;
}
.my_contact_input:focus, 
.my_contact_input:hover {
    border-left: solid 2px #ff9711 !important;
}
.my_contact_input::placeholder {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #bdbdbd;
}
.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

/*********************************
6. Boxes
*********************************/

.boxes
{
	z-index: 1;
	margin-top: -270px;
}
.box
{
	width: calc(100% / 3);
	padding-left: 47px;
	padding-top: 20px;
	padding-right: 37px;
	padding-bottom: 20px;
	margin-left: 10px;
	height: 430px;
}
.box:first-child
{
	/*background: #262626;*/
	background: rgb(239, 136, 1, 0.9);
}
.box:nth-child(2)
{
	background: rgb(239, 136, 1, 0.9);
}
.box:nth-child(3)
{
	background: rgba(239, 136, 1, 0.9);
}
.box_icon
{
	width: 66px;
	height: 66px;
}
.box_icon img
{
	max-width: 100%;
}
.box_title
{
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	line-height: 1.2;
	margin-top: 20px;
}
.box_text
{
	margin-top: 20px;
	max-height: 300px;
}
.box_text p
{
	color: #FFFFFF;
	height: 150px;
}
.box_link_container
{
	position: absolute;
	left: 48px;
	bottom: -21px;
}
.box_link_container a
{
	display: block;
	width: 100%;
	height: 100%;
}
.box_link
{
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background: #FFFFFF;
}
.box_link:hover
{
	transform: scale(1.2);
}
.box_link > div
{
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background: #ff9711;
	font-size: 19.2px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 39px;
	text-align: center;
}
/*********************************
7. About
*********************************/
.home_about,
.about_about {
    background: #FFFFFF;
}
.home_about
{
	padding-top: 94px;
}
.about_about,
.about_services
{
	padding-top: 69px;
	padding-bottom: 50px;
}
.home_about_container
{
	z-index: 2;
}
.home_about_content
{
	-webkit-transform: translateY(28px);
	-moz-transform: translateY(28px);
	-ms-transform: translateY(28px);
	-o-transform: translateY(28px);
	transform: translateY(28px);
}
.home_about_background,
.about_about_background
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
	background: #FFFFFF;
	z-index: 1;
}
.home_about_background::before,
.about_about_background::before
{
	position: absolute;
	top: 0;
	right: 0;
	width: 150%;
	height: 100%;
	background: #FFFFFF;
	content: '';
}
.about_overlay
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2200px;
	height: 558px;
	background: #FFFFFF;
	transform-origin: bottom right;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
	z-index: 1;
	padding-right: 190px;
}
.text_highlight,
.program_text {
	font-size: 16px;
	font-weight: 600;
	color: #535353;
	line-height: 1.75;
	margin-top: 35px;
}
.text_highlight_testimonials {
	color: #FFFFFF;
}
.home_about_text,
.about_about_text
{
	margin-top: 28px;
}
.about_button
{
	margin-top: 50px;
}
.home_about_image
{
	position: absolute;
	left: 220%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 0;
}
.about_about_image
{
	position: absolute;
	right: -20px;
	bottom: 20px;
	max-width: 47%;
}
.about_about_image img
{
	max-width: 100%;
}
/*********************************
8. Testimonials
*********************************/

.testimonials
{
	padding-top: 310px;
	padding-bottom: 100px;
}

.testimonals_bottom {
	padding-bottom: 100px;
	margin: 0 auto;
}
.testimonials .section_title
{
	color: #fff;
}
.testimonials_section {
	padding-top: 69px;
}
.testimonials_section_title{
	padding: 0 0 20px;
}
.test:not(:last-child)
{
	margin-bottom: 82px;
}
.test_image {
    width: 100%;
    overflow: hidden;
}
.testimonial_img {
	width: 80%;
}

.test_1
{
	margin-top: 60px;
}
.test_name
{
	margin-top: 3px;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.test_name a
{
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
}
.test_name a:hover
{
	color: #ff9711;
}
.test_title
{
	font-size: 12px;
	font-weight: 600;
	color: #ff9711;
	line-height: 1.5;
	text-transform: uppercase;
	margin-top: 9px;
}
.test-list
{
	font-size: 14px;
}
.test_text
{
	margin-top: 27px;
}
.test_text p
{
	font-style: italic;
	color: #a8a8a8;
}
.test_text p::before
{
	content: open-quote;
}
.test_text p::after
{
	content: close-quote;
}
.break_line {
	border-bottom: solid 1px #ff9711;
}
.test_rating
{
	margin-top: 14px;
}
.rating i::before
{
	font-size: 10px;
	margin-right: 4px;
}
.test_button_row
{
	margin-top: 72px;
}
.test_button
{
	display: inline-block;
	box-shadow: 0 0 1px 0 #f98c00 inset, 0 0 1px 0 #f98c00;
}

/*********************************
9. login/register/logout
*********************************/
.logout_home,
.login_home,
.register_home {
	height: 100vh;
}

.background_image_logout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.login_home,
.register_home,
.contact_home {
	width: 100%;
	overflow: hidden;
}
.login_container,
.register_container {
	width: 60%;
	margin: 0 auto;
}
.contact_home{
	height: 667px;
}

.login_content,
.register_content {
	padding-top: 310px;
}
.profile_content {
	padding-top: 0;
	margin:0 auto;
	width: 60%;
}

.login_title,
.register_title,
.profile_title {
	font-size: 72px;
	font-weight: 200;
	color: #fff;
	line-height: 1.2;
	margin-top: -9px;
	text-align: center;
}
.reset_title{
	font-size: 72px;
	font-weight: 200;
    color: #fff;
    line-height: 1.2;
	margin-top: -9px;
}
.reset_subtitle {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.profile_image {
	justify-content: center;
}

/* forms */

label {
	margin-bottom: 0;
	color: white !important;
	display: inline-block !important;
	width: 80% !important;
	text-transform: capitalize !important;
	margin: 5px 25px 0;
}
input {
	width: 50%;
	border-radius: 25px !important;
	border: solid 1px #f98c00 !important;
	padding:0 15px !important;
	background-color: transparent !important;
	color:#FFFFFF !important;
	text-align: center !important;
	margin-bottom: 0;
}
input:hover {
	background-color: black !important;
	color:#FFFFFF !important;
	border: solid 1px #FFFFFF !important;
}
form {
	margin: 0 auto;
}
.form_group {
	width: 100%;
	text-align: center;
}
.form_group p {
	margin-bottom: 0;
}

.username_label {
	display: inline-block;
	width: 80%;
	text-transform: capitalize;
}
ul{
	display: block;
	margin: 0;
}
.helptext,
li {
	color: gray;
	display: inherit;
	font-size: .6rem;
}
.helptext:hover,
li:hover {
	color: white;
	font-size: .7rem;
}
#hint_id_username {
	color: gray;
	display: inherit;
	font-size: .6rem;
}
#hint_id_username:hover {
	font-size: .7rem;
}
#text {
	font-size: 16px !important;
	font-weight: 500 !important;
	color: #fff !important;
}
.anchor_color {
	color: #f98c00;
}
.anchor_color:hover {
	font-size: 1rem;
	color: #f98c00;
}
a:hover {
    color: black;
}

.text_left {
	text-align: left;
	margin: 60px 0;
}

#id_gender,
#id_current_weight,
#id_expected_weight_loss,
#id_current_age,
#id_training_level {
	width: 320px;
	color: #f98c00;
	background-color: transparent;
	border: none;
	padding: 0 15px 0;
	text-align: right;
	text-transform: capitalize;
}
.text_left label {
	width: 50% !important;
}
option {
	background: black !important;
}


/* alert messages */

.alert-success {
	background: rgb(255, 151, 17);
	color: white;
}

.alert {
	position: relative;
	margin: 100px 0 0 !important;
	padding: 0;
	border: 1px solid transparent;
	border-radius: .25rem;
	text-align: center;
	text-transform: capitalize;
	background-color: rgb(255, 151, 17);
	font-size: 1.125rem;
	font-weight: 600;
}

.errorlist li {
	font-size: 1rem;
	color: rgb(255, 151, 17);
}
.my_container{
	width: 80%;
}
.contact {
	background: #FFFFFF;
	padding-top: 42px;
	padding-bottom: 100px;
}
.contact_title {
    font-size: 24px;
    font-weight: 400;
    color: #262626;
    line-height: 0.75;
}
.contact_text {
	margin-top: 30px;
}
p:last-of-type {
	margin-bottom: 0;
}
.contact_list {
	padding-left: 34px;
	margin-top: 51px;
	max-width: 230px;
}
.contact_list ul li > div:first-of-type > div {
    width: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #ff9711;
    line-height: 1.714;
}
.contact_list ul li > div:last-of-type {
    font-size: 14px;
    font-weight: 400;
    color: #535353;
    line-height: 1.714;
}
.contact_option {
	text-transform: uppercase;
	font-size: 1rem;
	color: rgba(249,140,0,0.75);
}
.contact_option_size {
	width: 200px;
	padding-left: 25px;
}
.contact_form_container {
    margin-top: 45px;
}
.input_item {
    margin-bottom: 17px;
}

/* Purposly used !important here because I wanted to overwrite the Crispy form and Bootstrap style settings*/

.my_contact_input {
    width: 100%;
	height: 52px;
	border-radius: 0px !important;
    border: none !important;
        border-left-color: currentcolor !important;
        border-left-style: none !important;
        border-left-width: medium !important;
    outline: none !important;
    background: #eff4f6 !important;
    padding-left: 25px !important;
	border-left: solid 2px transparent !important;
	text-align: left !important;
}
.my_contact_input:focus, 
.my_contact_input:hover {
	border-left: solid 2px #ff9711 !important;
	background-color: #bdbdbd !important;
}
.my_contact_input::placeholder {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #0b0b0b;
}
.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.contact_textarea {
    padding-top: 15px;
	height: 190px;
}




/*********************************
8. Footer
*********************************/

.skills
{
	padding-top: 100px;
	padding-bottom: 100px;
}
.skills_content
{
	padding-bottom: 14px;
}
.skills .section_title
{
	font-size: 48px;
	margin-top: 6px;
}
.skills_text
{
	margin-top: 31px;
}
.progress_bar_container
{
	margin-top: 52px;
}
.pb_item
{
	display: block;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.pb_item:last-child
{
	margin-bottom: 0px;
}
.pb_item h5
{
	font-size: 14px;
	line-height: 0.75;
	font-weight: 600;
	margin-top: 33px;
	color: #262626;
}
.progressbar-text
{
	top: 37px !important;
	line-height: 0.75 !important;
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #262626 !important;
}
.skill_bars
{
	height: 4px;
}
.extra
{
	width: 100%;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	padding-bottom: 65px;
}
.extra_title
{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	line-height: 1.1;
}
.extra_text
{
	text-align: center;
	margin-top: 32px;
}
.extra_text p
{
	color: #FFFFFF;
	font-weight: 600;
}
.extra_button
{
	border: solid 1px #FFFFFF;
	margin-top: 47px;
}

*/
/*********************************
8. Footer
*********************************/

.skills
{
	padding-top: 100px;
	padding-bottom: 100px;
}
.skills_content
{
	padding-bottom: 14px;
}
.skills .section_title
{
	font-size: 48px;
	margin-top: 6px;
}
.skills_text
{
	margin-top: 31px;
}
.progress_bar_container
{
	margin-top: 52px;
}
.pb_item
{
	display: block;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.pb_item:last-child
{
	margin-bottom: 0px;
}
.pb_item h5
{
	font-size: 14px;
	line-height: 0.75;
	font-weight: 600;
	margin-top: 33px;
	color: #262626;
}
.progressbar-text
{
	top: 37px !important;
	line-height: 0.75 !important;
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #262626 !important;
}
.skill_bars
{
	height: 4px;
}
.extra
{
	width: 100%;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	padding-bottom: 65px;
}
.extra_title
{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	line-height: 1.1;
}
.extra_text
{
	text-align: center;
	margin-top: 32px;
}
.extra_text p
{
	color: #FFFFFF;
	font-weight: 600;
}
.extra_button
{
	border: solid 1px #FFFFFF;
	margin-top: 47px;
}

/*********************************
10. Services
*********************************/

.services
{
	padding-top: 42px;
	padding-bottom: 34px;
	background: #FFFFFF;
}
.services_row {
	margin-top: 87px;
}
.service_col:nth-last-child(n+4)
{
	margin-bottom: 79px;
}
.service_icon
{
	width: 62px;
	height: 62px;
}
.service_icon img
{
	max-width: 100%;
}
.service_title
{
	padding-left: 37px;
	font-size: 24px;
	font-weight: 400;
	color: #262626;
	text-transform: uppercase;
}
.service_text
{
	margin-top: 17px;
}
.service_text p{
	height: 340px;
}


/*********************************
12. Footer
*********************************/

.footer
{
	display: block;
	width: 100%;
	background: #262626;
	padding-top: 96px;
	border-top: solid 1px #88591d;
	padding-bottom: 105px;
}
.footer_content
{
	padding-bottom: 253px;
	z-index: 1;
}
.footer_logo .logo
{
	display: inline-block;
	left: auto;
}
.footer_logo .logo > div
{
	font-size: 45.07px;
}
.footer_logo .logo img
{
	width: 38px;
	height: 38px;
	margin-right: 4px;
}
.footer_nav
{
	margin-top: 80px;
}
.footer_nav ul li:not(:last-of-type)
{
	margin-right: 70px;
}
.footer_nav ul li a
{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	white-space: nowrap;
}
.footer_nav ul li a:hover
{
	color: #ff9711;
}
.newsletter_container
{
	margin-top: 75px;
}
.newsletter_form
{
	display: block;
	width: 100%;
}
.newsletter_input
{
	width: 100%;
	height: 61px;
	background: rgba(0,0,0,0.58);
	border-radius: 31px;
	border: solid 1px #ff880f;
	padding-left: 39px;
	outline: none;
	color: #FFFFFF;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255,255,255,0.48) !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255,255,255,0.48) !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255,255,255,0.48) !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255,255,255,0.48) !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255,255,255,0.48) !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	background: #ff880f;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
}
.copyright
{
	padding-right: 15px;
	font-size: 12px;
	font-weight: 400;
	color: #686868;
	line-height: 0.75;
	margin-top: 33px;
}
.footer_image
{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	padding-left: 78px;
	z-index: 0;
}
.footer_image img
{
	max-width: 100%;
}
/* [Table of Contents about responsivness]

1. 1280px
2. 1199px
3. 991px
4. 767px
5. 575px
******************************/


/************
1. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.about_home
	{
		padding-bottom: 142px;
	}
}

/************
2. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.phone
	{
		display: none !important;
	}
	.menu .phone
	{
		display: block !important;
	}
	.logo
	{
		left: auto;
	}
	.main_nav
	{
		margin-left: 90px;
	}
	.about_home
	{
		padding-bottom: 0px;
	}
	.about_about_image
	{
		max-width: 50%;
	}
}


/************
3. 991px
************/

@media only screen and (max-width: 991px)
{
	.hamburger
	{
		display: block;
	}
	.hamburger_bar
	{
		display: block;
	}
	.main_nav
	{
		display: none;
	}
	.box
	{
		width: 100%;
	}
	.box:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.about_about_background
	{
		position: relative;
		bottom: auto;
		right: auto;
	}
	.about_about_image
	{
		position: relative;
		top: auto;
		left: auto;
		right: -20px;
		max-width: 100%;
	}
	.about_about_image img
	{
		max-width: 130%;
	}
	.about_about_content
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.team_col:not(:last-child)
	{
		margin-bottom: 120px;
	}
	.skills_col
	{
		margin-top: 100px;
	}
	.footer_nav ul li:not(:last-of-type)
	{
		margin-right: 40px;
	}
}


/************
4. 767px
************/

@media only screen and (max-width: 767px)
{
	.hamburger_bar
	{
		right: calc((100vw - 510px) / 2 - 15px);
	}
	.about_home_title
	{
		font-size: 72px;
		margin-top: -4px;
	}
	.about_home_subtitle
	{
		font-size: 14px;
		margin-top: -4px;
	}
	.home_button
	{
		margin-top: 37px;
	}
}

/************
5. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 11px;
	}
	.home
	{
		height: 70vh;
	}
	.header_content,
	.header.scrolled .header_content
	{
		height: 65px;
	}
	.hamburger_bar
	{
		right: 0px;
		height: 65px;
	}
	.about_home_title
	{
        font-size: 48px;
        margin-bottom: 14px;
	}
	.section_title
	{
		font-size: 48px;
	}
	.home_button
	{
		margin-top: 33px;
	}
	.home_button a
	{
		font-size: 14px;
	}
	.text_highlight
	{
		font-size: 15px;
	}
	.team
	{
		padding-top: 244px;
	}
	.extra_title
	{
		font-size: 48px;
	}
	.footer_content
	{
		padding-bottom: 40px;
	}
	.footer_nav ul li:not(:last-of-type)
	{
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.footer_image
	{
		opacity: 0.5;
	}
}

/* index.html [Table of Contents]

1. 1199px
2. 991px
3. 767px
4. 575px

******************************/


/************
1. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.phone
	{
		display: none !important;
	}
	.menu .phone
	{
		display: block !important;
	}
	.logo
	{
		left: auto;
	}
	.main_nav
	{
		margin-left: 90px;
	}
}


/************
2. 991px
************/

@media only screen and (max-width: 991px)
{
	.hamburger
	{
		display: block;
	}
	.hamburger_bar
	{
		display: block;
	}
	.main_nav
	{
		display: none;
	}
	.box
	{
		width: 100%;
	}
	.box:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.home_about
	{
		margin-top: 28px;
	}
	.home_about_background
	{
		position: relative;
		bottom: auto;
		right: auto;
		margin-top: -50px;
	}
	.home_about_image
	{
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.home_about_image img
	{
		max-width: 100%;
	}
	.about_content
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.test_1
	{
		margin-top: 106px;
		margin-bottom: 82px;
	}
	
	.gallery_slider_container
	{
		width: 150%;
		left: -25%;
	}
	.blog_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.footer_nav ul li:not(:last-of-type)
	{
		margin-right: 40px;
	}
}


/************
3. 767px
************/

@media only screen and (max-width: 767px)
{
	.hamburger_bar
	{
		right: calc((100vw - 510px) / 2 - 15px);
	}
	.home_home_title
	{
		font-size: 72px;
		margin-top: -4px;
	}
	.home_home_subtitle
	{
		font-size: 14px;
		margin-top: -4px;
	}
	.home_button
	{
		margin-top: 37px;
	}
	.service_col:nth-last-child(n+4)
	{
		margin-bottom: 0px;
	}
	.service_col:not(:last-child)
	{
		margin-bottom: 79px;
	}
}

/************
4. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 11px;
	}
	.header_content,
	.header.scrolled .header_content
	{
		height: 65px;
	}
	.hamburger_bar
	{
		right: 0px;
		height: 65px;
	}
	.home_home_title
	{
		font-size: 48px;
	}
	.section_title
	{
		font-size: 48px;
	}
	.video_icon
	{
		width: 25px;
		height: 25px;
		margin-right: 8px;
	}
	.video_icon i
	{
		font-size: 8px;
	}
	.video_text
	{
		font-size: 14px;
	}
	.home_button
	{
		margin-top: 33px;
	}
	.home_button a
	{
		font-size: 14px;
	}
	.text_highlight
	{
		font-size: 13px;
	}
	.blog
	{
		padding-top: 244px;
	}
	.testimonials
	{
		padding-top: 244px;
	}
	.footer_content
	{
		padding-bottom: 40px;
	}
	.footer_nav ul li:not(:last-of-type)
	{
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.footer_image
	{
		opacity: 0.5;
	}
}
