@charset "utf-8";
/* index.html [Table of Contents]

1. 1199px
2. 991px
3. 767px
4. 575px

******************************/


/************
1. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.phone
	{
		display: none !important;
	}
	.menu .phone
	{
		display: block !important;
	}
	.logo
	{
		left: auto;
	}
	.main_nav
	{
		margin-left: 90px;
	}
}


/************
2. 991px
************/

@media only screen and (max-width: 991px)
{
	.hamburger
	{
		display: block;
	}
	.hamburger_bar
	{
		display: block;
	}
	.main_nav
	{
		display: none;
	}
	.box
	{
		width: 100%;
	}
	.box:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.home_about
	{
		margin-top: 28px;
	}
	.home_about_background
	{
		position: relative;
		bottom: auto;
		right: auto;
		margin-top: -50px;
	}
	.home_about_image
	{
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.home_about_image img
	{
		max-width: 100%;
	}
	.about_content
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.test_1
	{
		margin-top: 106px;
		margin-bottom: 82px;
	}
	.test_content
	{
		padding-left: 25px;
	}
	.gallery_slider_container
	{
		width: 150%;
		left: -25%;
	}
	.blog_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.footer_nav ul li:not(:last-of-type)
	{
		margin-right: 40px;
	}
}


/************
3. 767px
************/

@media only screen and (max-width: 767px)
{
	.hamburger_bar
	{
		right: calc((100vw - 510px) / 2 - 15px);
	}
	.home_home_title
	{
		font-size: 72px;
		margin-top: -4px;
	}
	.home_home_subtitle
	{
		font-size: 14px;
		margin-top: -4px;
	}
	.home_button
	{
		margin-top: 37px;
	}
	.service_col:nth-last-child(n+4)
	{
		margin-bottom: 0px;
	}
	.service_col:not(:last-child)
	{
		margin-bottom: 79px;
	}
}

/************
4. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.header_content,
	.header.scrolled .header_content
	{
		height: 65px;
	}
	.hamburger_bar
	{
		right: 0px;
		height: 65px;
	}
	.home_home_title
	{
		font-size: 48px;
	}
	.section_title
	{
		font-size: 48px;
	}
	.video_icon
	{
		width: 25px;
		height: 25px;
		margin-right: 8px;
	}
	.video_icon i
	{
		font-size: 8px;
	}
	.video_text
	{
		font-size: 14px;
	}
	.home_button
	{
		margin-top: 33px;
	}
	.home_button a
	{
		font-size: 14px;
	}
	.text_highlight
	{
		font-size: 15px;
	}
	.blog
	{
		padding-top: 244px;
	}
	.testimonials
	{
		padding-top: 244px;
	}
	.footer_content
	{
		padding-bottom: 40px;
	}
	.footer_nav ul li:not(:last-of-type)
	{
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.footer_image
	{
		opacity: 0.5;
	}
}
