<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- Home -->

<div class="training_home">
    <div class="background_image" style="background-image:url(/static/images/services.jpg)"></div>
    <div class="overlay"></div>
    <div class="training_home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="">
                        {% for product in products %}
                        <div class="training_home_title">{{ product.name }}</div>
                        <div class="training_home_subtitle">Need to put some other text here...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services  -->

<div class="about_services" id="program_section">
    <div class="container">

        <!-- Programs for loop -->
        <div class="row services_row">
            <div class="col-xl-4 col-md-6 service_col program_separator">
                <div class="service">
                    <div class="product_image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
                    </div>
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="service_title">{{ product.name }}</div>
                    </div>
                    <p class="service_text">{{ product.description }}</p>
                    <p class="price">{{ product.price }}</p>
                    <span class="input_group">
                        <div class="button add_to_cart_button ml-auto mr-auto"><a
                                href="{% url 'add_to_cart' product.id %}">Add
                                to
                                Cart</a>
                        </div>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Extra -->

<div class="extra d-flex flex-column align-items-center justify-content-center text-center">
    <div class="background_image" style="background-image:url(/static/images/extra_wide.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="extra_content d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="extra_title">15% Discount</div>
                    <div class="extra_text">
                        <p>Morbi sed varius risus, vitae molestie lectus. Donec id hendrerit velit, eu fringilla
                            neque. Etiam id finibus sapien. Donec sollicitudin luctus ex non pharetra.llus.</p>
                    </div>
                    <div class="button extra_button"><a href="#">Join Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
