<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- Home -->

<div class="training_home">
    <div class="background_image" style="background-image:url(images/services.jpg)"></div>
    <div class="overlay"></div>
    <div class="training_home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="">
                        <div class="training_home_title">Training Programs</div>
                        <div class="training_home_subtitle">Fitness-fight, Butt-blaster, Kick-start 30, Mamma-shape &
                            many more</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services  -->

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container">
                    <div class="section_subtitle">welcome to World of Shape</div>
                    <div class="section_title">Our Training Programs</div>
                </div>
            </div>
        </div>
        <div class="row services_row">

            <!-- Service -->
            <div class="col-xl-4 col-md-6 service_col">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="service_icon"><img src="images/icon_4.png" alt=""></div>
                        </div>
                        <div class="service_title">Weight Loss Class</div>
                    </div>
                    <div class="service_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                            maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6 service_col">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="service_icon"><img src="images/icon_5.png" alt=""></div>
                        </div>
                        <div class="service_title">Yoga Classes</div>
                    </div>
                    <div class="service_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                            maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6 service_col">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="service_icon"><img src="images/icon_6.png" alt=""></div>
                        </div>
                        <div class="service_title">Spinning Class</div>
                    </div>
                    <div class="service_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                            maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6 service_col">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="service_icon"><img src="images/icon_7.png" alt=""></div>
                        </div>
                        <div class="service_title">Private Fit Class</div>
                    </div>
                    <div class="service_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                            maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6 service_col">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="service_icon"><img src="images/icon_8.png" alt=""></div>
                        </div>
                        <div class="service_title">Nutrition Classes</div>
                    </div>
                    <div class="service_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                            maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-xl-4 col-md-6 service_col">
                <div class="service">
                    <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                        <div>
                            <div class="service_icon"><img src="images/icon_9.png" alt=""></div>
                        </div>
                        <div class="service_title">Pillates Class</div>
                    </div>
                    <div class="service_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem
                            maximus mauris scelerisque, at rutrum.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Extra -->

<div class="extra d-flex flex-column align-items-center justify-content-center text-center">
    <div class="background_image" style="background-image:url(images/extra_wide.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="extra_content d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="extra_title">15% Discount</div>
                    <div class="extra_text">
                        <p>Morbi sed varius risus, vitae molestie lectus. Donec id hendrerit velit, eu fringilla
                            neque. Etiam id finibus sapien. Donec sollicitudin luctus ex non pharetra.llus.</p>
                    </div>
                    <div class="button extra_button"><a href="#">Join Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
